include .editorconfig
include .gitattributes
include .gitignore
include .pre-commit-config.yaml
include LICENSE
include Makefile
include MANIFEST.in
include pyproject.toml
include README.rst
recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-include docs conf.py *.rst *.jpg *.png *.gif *.ico *.svg
